{% extends 'base.html' %}
{% block title %}View{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Список навыков</h2>
        <a href="{% url 'webapp:skill_create' %}" class="btn btn-primary btn-block float-right mb-2" >Добавить навык</a>
        {% for skill in skill_list %}
        <div class="">
            <a href="{% url 'webapp:skill_detail' skill.pk %}" >
                <p>{{ skill.name }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}