{% extends 'base.html' %}
{% block title %}Детали навыка{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Страница просмотра навыка</h2>
        {% if skill.code_skill %}
            <p class="font-weight-bold">Код: <span class="font-weight-normal">{{ skill.code_skill }}</span></p>
        {% else %}
            <p class="font-weight-bold">Код: <span
                    class="font-weight-normal">Код навыка отсутствует</span></p>
        {% endif %}

        {% if skill.name %}
            <p class="font-weight-bold">Навык: <span class="font-weight-normal">{{ skill.name }}</span></p>
        {% else %}
            <p class="font-weight-bold">Навык: <span
                    class="font-weight-normal">Название навыка отсутствует</span></p>
        {% endif %}

        {% if skill.skill_comment %}
            <p class="font-weight-bold">Комментарий: <span class="font-weight-normal">{{ skill.skill_comment }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Комментарий: <span
                    class="font-weight-normal">Комментарий отсутствует</span></p>
        {% endif %}

        {% if skill.category %}
            <p class="font-weight-bold">Категория: <span class="font-weight-normal">{{ skill.category }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Категория: <span
                    class="font-weight-normal">Категория навыка отсутствует</span></p>
        {% endif %}

        {% if skill.description %}
            <p class="font-weight-bold">Описание: <span class="font-weight-normal">{{ skill.description }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Описание: <span
                    class="font-weight-normal">Описание навыка отсутствует</span></p>
        {% endif %}

        {% if skill.criterion %}
            <p class="font-weight-bold">Критерии: <span class="font-weight-normal">{{ skill.criterion }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Критерии: <span
                    class="font-weight-normal">Критерии навыка отсутствуют</span></p>
        {% endif %}


        <p class="font-weight-bold">Дата создания: <span
                class="font-weight-normal">{{ skill.created_date.date }}</span></p>
        <p class="font-weight-bold">Дата последнего редактирования: <span
                class="font-weight-normal">{{ skill.updated_date.date }}</span></p>

        <div class="text-center">
            <a role="button" class="btn btn-success m-2" href="{% url 'webapp:skill_update' skill.pk %}"
               style="width: 125px">Редактировать</a>
            <button type="button" class="btn btn-danger m-2" style="width: 125px" data-toggle="modal"
                    data-placement="top"
                    title="Удалить" data-target="#Modal_{{ skill.pk }}">Удалить
            </button>
        </div>
    </div>

    <div class="modal fade" id="Modal_{{ skill.pk }}" tabindex="-1" role="dialog"
         aria-labelledby="Modal_{{ skill.pk }}Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="card">
                    <h5 class="card-header text-center"> Удаление навыка</h5>
                </div>
                <div class="modal-body p-0 m-0">
                    <div class="modal-body">
                        <p class="d-block text-center mb-1">Вы уверены что хотите удалить навык
                            <span class="d-block font-weight-bold text-center mb-3">{{ skill.name }}?</span>
                        </p>
                        <div class="text-center">
                            <button class="category_button1_modal p-0">
                                <a class="btn btn-outline-success"
                                   href={% url 'webapp:skill_delete' skill.pk %}><span class="text-dark">Да</span>
                                </a>
                            </button>
                            <button class="category_button2_modal p-0" data-dismiss="modal">
                                <a class="btn btn-outline-danger">
                                    <span class="text-dark">Нет</span>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
