astroid==2.2.5
behave==1.2.6
behave-django==1.3.0
Django==2.2
isort==4.3.17
lazy-object-proxy==1.3.1
mccabe==0.6.1
mysql-connector-python==8.0.15
mysqlclient==1.4.2.post1
parse==1.12.0
parse-type==0.4.2
pkg-resources==0.0.0
protobuf==3.7.1
pylint==2.3.1
PyMySQL==0.9.3
pytz==2019.1
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.3.1
urllib3==1.24.2
wrapt==1.11.1
XlsxWriter==1.1.7
xlwt==1.3.0
