{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    {% block styles %}{% endblock %}
    <style>
        * {
            font-family: 'Arimo', sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand mr-auto text-dark" href={% url 'webapp:child_program_list' %}>ABA - THERAPY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active ml-3">
                            <a href="{% url 'webapp:child_create' %}" class="nav-link text-dark">Добавить ребенка</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'webapp:skill_list' %}" class="nav-link text-dark">Навыки</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'webapp:child_list' %}" class="nav-link text-dark">Дети</a>
                        </li>
                    </ul>
                    </ul>
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item navbar-text text-dark">Привет, {{ user.username }}!</li>
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-dark">Выход</a></li>
                        {% block menu %}
                        {% endblock %}
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link text-dark">Вход</a></li>
                    </ul>
                {% endif %}
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<div class="class mt-4"></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>