{% extends 'base.html' %}
{% block title %}Список категорий{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Список категорий: </h2>
        {% for categories in categories_list %}
            <div class="border-bottom w-75 pb-2 mb-1">
                <a href="#" class="text-decoration-none text-dark">
                    <p class="text-wrap d-block mb-0">{{ categories.pk }}. {{ categories.name }}</p>
                    <p class="d-block pb-0 mb-0 small font-weight-bold mt-1 ml-3">Код категории: <span class="badge badge-primary">{{ categories.code_category }}</span></p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
