{% extends 'base.html' %}
{% block title %}Профиль ребёнка{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Личный профиль ребёнка</h2>
        {% if child.third_name %}
            <p class="font-weight-bold">ФИО ребенка: <span
                    class="font-weight-normal">{{ child.last_name }} {{ child.first_name }} {{ child.third_name }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">ФИО ребенка: <span
                    class="font-weight-normal">{{ child.last_name }} {{ child.first_name }}</span></p>
        {% endif %}

        {% if child.third_name %}
            <p class="font-weight-bold">Год рождения: <span class="font-weight-normal">{{ child.birthday }}</span></p>
        {% else %}
            <p class="font-weight-bold">Год рождения: <span class="font-weight-normal">Год рождения не указан</span></p>
        {% endif %}

        <p class="font-weight-bold">Возраст: <span class="font-weight-normal">{{ child.age }}</span></p>

        {% if child.address %}
            <p class="font-weight-bold">Адрес проживания: <span class="font-weight-normal">{{ child.address }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Адрес проживания: <span
                    class="font-weight-normal">Адрес проживания не указан</span></p>
        {% endif %}

        {% if child.characteristic %}
            <p class="font-weight-bold">Характеристика: <span
                    class="font-weight-normal">{{ child.characteristic }}</span></p>
        {% else %}
            <p class="font-weight-bold">Характеристика: <span
                    class="font-weight-normal">Характеристика отсутствует</span></p>
        {% endif %}

        {% if child.preferences %}
            <p class="font-weight-bold">Предпочтения: <span class="font-weight-normal">{{ child.preferences }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Предпочтения: <span class="font-weight-normal">Предпочтения отсутствуют</span>
            </p>
        {% endif %}

        {% if child.second_parent %}
            <p class="font-weight-bold">Родители: <span
                    class="font-weight-normal">{{ child.first_parent }}, {{ child.second_parent }}</span></p>
        {% else %}
            <p class="font-weight-bold">Родители: <span class="font-weight-normal">{{ child.first_parent }}</span></p>
        {% endif %}

        {% if child.contacts %}
            <p class="font-weight-bold">Контакты: <span class="font-weight-normal">{{ child.contacts }}</span></p>
        {% else %}
            <p class="font-weight-bold">Контакты: <span class="font-weight-normal">Контакты не указаны</span></p>
        {% endif %}

        <p class="font-weight-bold">Дата создания профиля ребенка: <span
                class="font-weight-normal">{{ child.created_date }}</span></p>
        <p class="font-weight-bold">Дата последнего редактирования профиля ребенка: <span
                class="font-weight-normal">{{ child.edited_date }}</span></p>
        <div class="text-center">
            <button class="btn btn-success px-2 py-0 m-2">Редактировать профиль</button>
            <button class="btn btn-danger px-2 py-0 m-2">Удалить профиль</button>
        </div>
        <h3 class="text-center mt-4">Программы ребёнка</h3>

        <ul class="font-weight-bold"> Открытые программы:
            <p id=01 class="text-dark font-weight-normal"></p>
            {% for program in child.child_in_program.all %}
                {% if program.status == True %}
                    <a id=001 class="font-weight-normal"
                       href={% url 'webapp:program_detail' program.pk %}>{{ program.name }}</a>
                {% else %}
                {% endif %}
            {% endfor %}
        </ul>

        <ul class="font-weight-bold">Закрытые программы:
            <p id=02 class="text-dark font-weight-normal"></p>
            {% for program in child.child_in_program.all %}
                {% if program.status != True %}
                    <a id=002 class="font-weight-normal"
                       href={% url 'webapp:program_detail' program.pk %}>{{ program.name }}</a>
                {% else %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block scripts %}
    <script src=../static/js/child_detail/check_program.js></script>
{% endblock %}
