{% extends 'base.html' %}
{% block title %}View{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Доступные программы</h2>
        {% for program in program_list %}
                <a href="{% url 'webapp:program_detail' program.pk %}" class="list-group-item list-group-item-action m-2" >
            <div class="d-flex w-75 justify-content-between">
                <h5 class="mb-1">{{ program.name }}</h5>
                <small>Дата создания: {{ program.created_date }}</small>
            </div>
                <p class="mb-1">{{ program.description }}</p>
            </a>
    {% endfor %}
    </div>
{% endblock %}

{# Original           <ul class="list-group">#}
{#                <li class="list-group"><a href="{% url 'webapp:program_detail' program.pk %}">{{ program.name }}</a></li>#}
{#            </ul>#}