{% extends 'base.html' %}
{% block title %}Детали программы{% endblock %}
{% block content %}
    <div class="container">
        <div class="description w-50">
            <p class="font-weight-bold">Программа: <span class="font-weight-normal">{{ program.name }}</span></p>
            {% if program.description   %}<p class="font-weight-bold">Описание: <span
                    class="font-weight-normal">{{ program.description }}</span></p>
            {% else %} <p class="font-weight-bold">Описание: <span
                    class="font-weight-normal">Описание отсутствует</span></p>{% endif %}
            <p class="font-weight-bold">Автор: <span class="font-weight-normal">{{ program.author_therapist.user }}</span>
            </p>
            <ul class="font-weight-bold">Навыки:
                {% for program_skill in program.skill.all %}
                    <li class="font-weight-normal p-2">{{ program_skill.name }}</li>
                {% endfor %}
            </ul>
            <p class="font-weight-bold">Дата создания: <span
                    class="font-weight-normal">{{ program.created_date }}</span></p>
            <p class="font-weight-bold">Дата последнего редактирования: <span
                    class="font-weight-normal">{{ program.edited_date }}</span></p>
        </div>
    </div>
{% endblock %}