{% extends 'base.html' %}
{% block title %}Сессия{% endblock %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Session View</title>
        </head>
        <body>
            <div class="container">
                <div>
                    {% for session in program.session_program.all %}
                        <h4>Сессия №: {{ session.id }}</h4>
                    {% endfor %}
                    {% for skills in program.skill.all %}
                        <p>{{ skills.name }}</p>
                        <button>Ответил сам</button>
                        <button>Ответил с подсказкой</button>
                    {% endfor %}
                </div>
            </div>
        </body>
    </html>
{% endblock %}