
body {
    background-color: white;
}

.d-flex form .done_but_padding {
    padding: 40px;
    width: 200px;
    height: 175px;
}

.w_hint_but_padding {
    padding: 40px;
    width: 200px;
    height: 175px;
}

/*Program_detail------------------------------------------------------------------------------------------------------*/
.btn_outline_none:focus {
    box-shadow: none;
}

.btn_accordion_text {
    font-size: 18px;

}

.update_and_back {
    width: 125px;
}

.result {
    height: 33px;
}

.table_skill {
    overflow: auto;
}

.col-11 {
    border: 1px solid grey;
    border-collapse: collapse;
}

/*Modals------------------------------------------------------------------------------------------------------*/
.category_button1_modal {
    background-color: #76F163;
    border: none;
}

.category_button2_modal {
    background-color: #F5AEAE;
    border: none
}

.btn-outline-success, .btn-outline-danger{
    width:70px;
}

.result_modal_inputs{
    width: 50px;
    text-align: center;
    margin: 5px;
}

.result_modal_link{
    width: 90px;
}

/*.search-box {*/
/*    position: absolute;*/
/*    background: #2f3640;*/
/*    height: 60px;*/
/*    border-radius: 40px;*/
/*    padding: 10px;*/
/*}*/
/*.search-box:hover > .search-txt {*/
/*    width: 240px;*/
/*    padding: 0 6px;*/
/*}*/
/*.search-box:hover > .search-btn {*/
/*    background: white;*/

/*}*/
/*.search-btn {*/
/*    color: #e84118;*/
/*    float: right;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 50%;*/
/*    background: #2f3640;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    transition: 0.4s;*/
/*}*/

/*.search-txt {*/
/*    border: none;*/
/*    background: none;*/
/*    outline: none;*/
/*    float: left;*/
/*    padding: 0;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    transition: 0.4s;*/
/*    line-height: 40px;*/
/*    width: 100px;*/
/*}*/
/*}*/
