{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Добавление категории</h2>
        <form action="{% url 'webapp:categories_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success m-2" style="width: 125px">Сохранить</button>
            <a role="button" class="btn btn-primary m-2" href="{% url 'webapp:categories_list' %}" style="width: 125px">Назад</a>
        </form>
    </div>
{% endblock %}