{% extends 'base.html' %}
{% block title %}Профиль ребёнка{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Личный профиль ребёнка</h2>
        {% if child.third_name %}
            <p class="font-weight-bold">ФИО ребенка: <span
                    class="font-weight-normal">{{ child.last_name }} {{ child.first_name }} {{ child.third_name }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">ФИО ребенка: <span
                    class="font-weight-normal">{{ child.last_name }} {{ child.first_name }}</span></p>
        {% endif %}

        {% if child.birthday %}
            <p class="font-weight-bold">Год рождения: <span class="font-weight-normal">{{ child.birthday }}</span></p>
        {% else %}
            <p class="font-weight-bold">Год рождения: <span class="font-weight-normal">Год рождения не указан</span></p>
        {% endif %}

        <p class="font-weight-bold">Возраст: <span class="font-weight-normal">{{ child.age }}</span></p>

        {% if child.address %}
            <p class="font-weight-bold">Адрес проживания: <span class="font-weight-normal">{{ child.address }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Адрес проживания: <span
                    class="font-weight-normal">Адрес проживания не указан</span></p>
        {% endif %}

        {% if child.characteristic %}
            <p class="font-weight-bold">Характеристика: <span
                    class="font-weight-normal">{{ child.characteristic }}</span></p>
        {% else %}
            <p class="font-weight-bold">Характеристика: <span
                    class="font-weight-normal">Характеристика отсутствует</span></p>
        {% endif %}

        {% if child.preferences %}
            <p class="font-weight-bold">Предпочтения: <span class="font-weight-normal">{{ child.preferences }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Предпочтения: <span class="font-weight-normal">Предпочтения отсутствуют</span>
            </p>
        {% endif %}

        {% if child.first_parent %}
            <p class="font-weight-bold">Первый родитель: <span
                    class="font-weight-normal">{{ child.first_parent }}</span></p>
        {% endif %}
        {% if child.second_parent %}
            <p class="font-weight-bold">Второй родитель: <span class="font-weight-normal">{{ child.second_parent }}</span></p>
        {% endif %}

        {% if child.contacts %}
            <p class="font-weight-bold">Контакты: <span class="font-weight-normal">{{ child.contacts }}</span></p>
        {% else %}
            <p class="font-weight-bold">Контакты: <span class="font-weight-normal">Контакты не указаны</span></p>
        {% endif %}

        <p class="font-weight-bold">Дата создания профиля ребенка: <span
                class="font-weight-normal">{{ child.created_date.date }}</span></p>
        <p class="font-weight-bold">Дата последнего редактирования профиля ребенка: <span
                class="font-weight-normal">{{ child.edited_date.date }}</span></p>
        <div class="text-center">
            <a role="button" class="btn btn-success m-2 m-0" style="width: 125px"
               href={% url 'webapp:child_update' child.pk %}>Редактировать</a>
            <a href="#" data-toggle="modal" data-target="#deleteModal" style="width: 125px"
               data-delete-url="{% url 'webapp:child_delete' child.pk %}"
               class="btn btn-danger m-0">Удалить</a>
        </div>
        <h3 class="text-center mt-4">Программы ребёнка</h3>

        <h4 class="font-weight-bold mt-2"> Открытые программы:
            <h5 id=01 class="text-dark font-weight-normal"></h5>
            <div class="row">
                {% for program in child.child_in_program.all %}
                    {% if program.status == True %}
                        <div class="card bg-light m-2 p-0 col-xs-12 col-sm-6 col-lg-4" style="max-width: 18rem;">
                            <div class="card-header text-center" id=001>{{ program.name }}</div>
                            <div class="card-body text-center">
                                <a href="{% url 'webapp:program_detail' program.pk %}" class="btn btn-primary">Перейти в
                                    программу</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Дата создания: {{ program.created_date.date }}</small>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </h4>

        <h4 class="font-weight-bold mt-2">Закрытые программы:
            <h5 id=02 class="text-dark font-weight-normal"></h5>
            <div class="row">
                {% for program in child.child_in_program.all %}
                    {% if program.status != True %}
                        <div class="card bg-light m-2 p-0 col-xs-12 col-sm-6 col-lg-4" style="max-width: 18rem;">
                            <div class="card-header text-center" id=002>{{ program.name }}</div>
                            <div class="card-body text-center">
                                <a href="{% url 'webapp:program_detail' program.pk %}" class="btn btn-primary">Перейти в
                                    программу</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Дата создания: {{ program.created_date.date }}</small>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </h4>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="card">
                    <h5 class="card-header text-center"> Удаление ребёнка</h5>
                </div>
                <div class="modal-body p-0 m-0">
                    <div class="modal-body">
                        <p class="d-block text-center mb-1">Вы уверены что хотите удалить ребёнка?
                            <span class="d-block font-weight-bold text-center mb-3">{{ child.last_name }} {{ child.first_name }}</span>
                        </p>
                        <div class="text-center">
                            <button class="category_button1_modal p-0">
                                <a class="btn btn-outline-success"
                                   href={% url 'webapp:child_delete' child.pk %}>
                                    <span class="text-dark">Да</span>
                                </a>
                            </button>
                            <button class="category_button2_modal p-0" data-dismiss="modal">
                                <a class="btn btn-outline-danger"><span class="text-dark">Нет</span></a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src=../../static/js/child_detail/check_program.js></script>
{% endblock %}