{% extends 'base.html' %}
{% block title %}Дети{% endblock %}
{% block content %}
    <div class="container">
        {#  Форма поиска детей  #}
        <div style="width: 240px">
            <form action='{% url 'webapp:search_view' %}' method="GET" accept-charset="utf-8"
                  class="form-inline my-2 my-lg-0">
                <input class="form-control mr-2 shadow-none"
                       style="width: 67%"
                       name="q"
                       id="field"
                       value="{{ request.GET.q }}"
                       type="text"
                       placeholder="Найти детей..."
                       aria-label="Найти...">
                <button class="btn btn-outline-dark" type="submit" style="width: 30%">Поиск</button>
            </form>
        </div>
        <a href="{% url 'webapp:child_create' %}" class="btn btn-primary btn-block d-block mt-3 mb-3"
           style="width: 240px">Добавить ребёнка</a>
        {#  Вывод всех детей  #}
        <div class="list-group mt-3">
            {% for c in child_list %}
                <a href="{% url 'webapp:child_detail' c.pk %}" class="list-group-item list-group-item-action m-1">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="font-weight-bolder">{{ c.first_name }} {{ c.last_name }}</h5>
                        <small>Возраст: {{ c.age }}</small>
                    </div>
                    {% if c.characteristic %}
                        <p class="font-weight-normal d-block">Характеристика: {{ c.characteristic }}</p>
                    {% else %} <p class="font-weight-normal">Характеристики к данному ребенку не выданы</p>
                    {% endif %}
                    <small class="d-block">Родитель: {{ c.first_parent }}</small>
                    <small class="d-block">Начало лечения: {{ c.created_date.date }}</small>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src=../../static/js/check_find_input_is_not_null/check_find_input_is_not_null.js></script>
{% endblock %}