{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
    {{ form.media.css }}
{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Редактирование программы</h2>
        <form action="{% url 'webapp:program_update' form.instance.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_name" class="col-sm-2 col-form-label col-form-label-sm">Программа</label>
                <div class="col-sm-6">
                    {{ form.name }}
                    <small class="form-text text-muted">Желательно ввести название для программы</small>
                </div>
            </div>
            <div class="form-group row was-validated">
                <label for="id_child" class="col-sm-2 col-form-label col-form-label-sm">Ребенок</label>
                <div class="col-sm-6">
                    {{ form.child }}
                    <small class="form-text text-muted">Обязательное поле</small>
                </div>
            </div>
            <div class="form-group row was-validated">
                <label for="id_author_therapist" class="col-sm-2 col-form-label col-form-label-sm">Терапевт:</label>
                <div class="col-sm-6">
                    {{ form.author_therapist }}
                    <small class="form-text text-muted">Обязательное поле</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_description" class="col-sm-2 col-form-label col-form-label-sm">Описание</label>
                <div class="col-sm-6">
                    {{ form.description }}
                    <small class="form-text text-muted">По желанию</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_program_comment" class="col-sm-2 col-form-label col-form-label-sm">Комментарий к
                    программе</label>
                <div class="col-sm-6">
                    {{ form.program_comment }}
                    <small class="form-text text-muted">По желанию</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_skills" class="col-sm-2 col-form-label col-form-label-sm">Навыки</label>
                <div class="col-sm-6">
                    {{ form.skills }}
                </div>
            </div>
            <button type="submit" class="btn btn-success m-2" style="width: 125px">Сохранить</button>
            <a role="button" class="btn btn-primary m-2" href="{{ request.META.HTTP_REFERER }}"
               style="width: 125px">Назад</a>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}