{% extends 'base.html' %}
{% block title %}Детали программы{% endblock %}
{% block content %}
    <div class="container">
        {% if program.status == True %}
            <h2 class="text-center">Программа действующая</h2>
        {% else %}
            <h2 class="text-center">Программа закрыта</h2>
        {% endif %}
        <div class="description w-50">
            {% if program.name %}
                <p class="font-weight-bold">Программа: <span class="font-weight-normal">{{ program.name }}</span></p>
            {% else %}
                <p class="font-weight-bold">Программа: <span
                        class="font-weight-normal">Название программы отсутствует</span></p>
            {% endif %}

            {% if program.description %}
                <p class="font-weight-bold">Описание: <span class="font-weight-normal">{{ program.description }}</span>
                </p>
            {% else %}
                <p class="font-weight-bold">Описание: <span
                        class="font-weight-normal">Описание программы отсутствует</span></p>
            {% endif %}


            {% if program.child.third_name %}
                <p class="font-weight-bold">Ребенок: <span
                        class="font-weight-normal">{{ program.child.last_name }} {{ program.child.first_name }} {{ program.child.third_name }}</span>
                </p>
            {% else %}
                <p class="font-weight-bold">Ребенок: <span
                        class="font-weight-normal">{{ program.child.last_name }} {{ program.child.first_name }}</span>
                </p>
            {% endif %}

            <p class="font-weight-bold">Автор: <span
                    class="font-weight-normal">{{ program.author_therapist.user }}</span>
            </p>

            <ul class="font-weight-bold"> Выполненные навыки:
                <p id=01 class="text-dark font-weight-normal"></p>
                {% for program_skill in program.related_to_program.all %}
                    {% if program_skill.status == False %}
                        <li id=001 class="font-weight-normal">{{ program_skill.skill.name }}</li>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="font-weight-bold">Невыполненные навыки:
                <p id=02 class="text-dark font-weight-normal"></p>
                {% for program_skill in program.related_to_program.all %}
                    {% if program_skill.status != False %}
                        <li id=002 class="font-weight-normal">{{ program_skill.skill.name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p class="font-weight-bold">Дата создания: <span
                    class="font-weight-normal">{{ program.created_date.date }}</span></p>
            <p class="font-weight-bold">Дата последнего редактирования: <span
                    class="font-weight-normal">{{ program.edited_date.date }}</span></p>
        </div>
        <div class="text-center">
            <a role="button" class="btn btn-success px-2 py-0 m-2" style="width: 15%"
               href={% url 'webapp:program_update' program.pk %}>Редактировать</a>
            <a role="button" class="btn btn-primary px-2 py-0 m-2" href="{% url 'webapp:program_list' %}"
                    style="width: 15%">Назад</a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src=../../static/js/program_detail/check_skill.js></script>
{% endblock %}
