{% extends 'base.html' %}
{% block title %}Детали программы{% endblock %}
{% block content %}
    <div class="container">
        {% if program.status == True %}
            <h2 class="text-center">Программа действующая</h2>
        {% else %}
            <h2 class="text-center">Программа закрыта</h2>
        {% endif %}

        {% if program.name %}
            <p class="font-weight-bold">Программа: <span class="font-weight-normal">{{ program.name }}</span></p>
        {% else %}
            <p class="font-weight-bold">Программа: <span
                    class="font-weight-normal">Название программы отсутствует</span></p>
        {% endif %}

        {% if program.description %}
            <p class="font-weight-bold">Описание: <span class="font-weight-normal">{{ program.description }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Описание: <span
                    class="font-weight-normal">Описание программы отсутствует</span></p>
        {% endif %}

        {% if program.program_comment %}
            <p class="font-weight-bold">Комментарий: <span
                    class="font-weight-normal">{{ program.program_comment }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Комментарий: <span
                    class="font-weight-normal">Комментарий к программе отсутствует</span></p>
        {% endif %}


        {% if program.child.third_name %}
            <p class="font-weight-bold">Ребенок: <span
                    class="font-weight-normal">{{ program.child.last_name }} {{ program.child.first_name }} {{ program.child.third_name }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Ребенок: <span
                    class="font-weight-normal">{{ program.child.last_name }} {{ program.child.first_name }}</span>
            </p>
        {% endif %}

        <p class="font-weight-bold">Автор: <span
                class="font-weight-normal">{{ program.author_therapist.user }}</span>
        </p>

        <p class="font-weight-bold">Дата создания: <span
                class="font-weight-normal">{{ program.created_date.date }}</span></p>

        <p class="font-weight-bold">Дата последнего редактирования: <span
                class="font-weight-normal">{{ program.edited_date.date }}</span></p>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <button class="btn btn_outline_none btn-light"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-controls="collapseOne">
                    <span class="btn_accordion_text">Все навыки в программе</span>
                </button>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <h5 id="no_session" class="text-dark text-center m-0 pl-5"></h5>
                    <div id="table_1" class="table m-0 table_skill">
                        <table class="col-12 table table-bordered m-0 p-0">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">Название</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for program_skill in program.related_to_program.all %}
                                <tr>
                                    <td id="is_there_skills"><p class="text m-0 text-truncate font-weight-normal">
                                        {{ program_skill.skill.code_skill }}
                                        | {{ program_skill.skill.name }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <button class="btn btn_outline_none btn-light"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-controls="collapseTwo">
                    <span class="btn_accordion_text">Закрытые навыки в программе</span>
                </button>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <h5 id="close_skill" class="text-dark text-center m-0 pl-5"></h5>
                    <div id="table_2" class="table m-0 table_skill">
                        <table class="col-12 table table-bordered m-0 p-0">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">Название</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for program_skill in program.related_to_program.all %}
                                {% if program_skill.status == False %}
                                    <tr>
                                        <td id="is_there_close_skill">
                                            <p class="text m-0 text-truncate font-weight-normal">
                                                {{ program_skill.skill.code_skill }}
                                                | {{ program_skill.skill.name }}</p>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <button class="btn btn_outline_none btn-light"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-controls="collapseThree">
                    <span class="btn_accordion_text">Открытые навыки в программе</span>
                </button>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <h5 id="open_skill" class="text-dark text-center m-0 pl-5"></h5>
                    <div id="table_3" class="table m-0 table_skill">
                        <table class="col-12 table table-bordered m-0">
                            {% if all_skill.values %}
                                <thead>
                                <tr class="text-center">
                                    <th scope="col">Название</th>
                                    <th scope="col">Процент</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for skill, percent in all_skill.items %}
                                    <tr class="text-left">
                                        <td id="is_there_open_skill">{{ skill }}</td>
                                        <td class="text-center">{{ percent }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            {% if program.status == True %}
                <a role="button" class="btn btn-success m-2 update_and_back"
                   href={% url 'webapp:program_update' program.pk %}>Редактировать</a>
            {% endif %}
            <a role="button" class="btn btn-primary m-2 update_and_back"
               href="{% url 'webapp:program_list' %}">Назад</a>
        </div>
        <h3 class="text-center mt-4">Результаты по сессиям</h3>
        <h4 id="session" class="text-dark font-weight-normal text-center mt-3"></h4>
        <div class="row justify-content-center">
            {% for session in program.session_program.all %}
                <div id="is_there_session" class="col-11 col-sm-5 col-md-3 col-lg-2 m-1 p-0">
                    <div class="card-header text-center"><b>Сессия <br> {{ session.created_date.date }}</b></div>
                    <div class="card-body text-center p-0 m-0 result">
                        <a href="{% url 'webapp:session_result_view' session.pk %}"
                           class="btn btn-block btn-primary m-0">Результат</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src=../../static/js/program_detail/check_skill.js></script>
{% endblock %}