{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Ваши сессии: </h2>
        {% if session_list %}
            <ul class="list-group">
                {% for session in session_list %}
                    <a class="list-group-item list-group-item-action text-center"
                       href={% url 'webapp:session_detail' session.pk %}>Сессия {{ session.id }}</a>
                {% endfor %}
            </ul>
        {% else %}
            <p>Ваш список сессии пуст!</p>
        {% endif %}
    </div>
{% endblock %}